@import "./Input.css";
@import "./button.css";
@import "./responsivity.css";

.wrapper {
  background-color: #fefae0;
  border-radius: 1em;
  padding: 1em;
  margin-top: 0;
  height: 600px;
  padding-left: 2.5em;
}

.wall {
  display: flex;
}

p {
  visibility: hidden;
}

h1 {
  padding-right: 1em;
  color: #0b090a;
}

.result {
  color: #0b090a;
}
