@media only screen and (max-device-width: 700px) {

  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .wall {
    display: flex;
    flex-direction: column;
    padding-left: 4em;
  }

  .p-visible {
    visibility: visible;
    padding-right: 1em;
  }

  h1 {
    padding-left: 1em;
  }
}
