.App {
  text-align: center;
  background-color: #fefae0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #9b9b9b;
}

body {
  background-color: #fefae0;
}
